# API

# URL base del backend
EXPO_PUBLIC_API_URL=

# APP

# Nombre de la aplicación
EXPO_PUBLIC_APP_NAME=

# Entorno actual (development, preview, production)
EXPO_PUBLIC_APP_ENV= 

# AUTENTICACIÓN / OAUTH

# Google OAuth 
EXPO_PUBLIC_GOOGLE_CLIENT_ID=
# Apple Login 
EXPO_PUBLIC_APPLE_CLIENT_ID=

# OTRAS CONFIGURACIONES PÚBLICAS

# URL pública de la aplicación/web
EXPO_PUBLIC_WEB_URL=
# Versión de la API
EXPO_PUBLIC_API_VERSION=
